if endpage > startpage
	- var prevActive = page>0 ? 'active' : '';
	- var nextActive = page<(endpage-1) ? 'active' : '';
	- var i = startpage;

	nav.text-center(class=hidden aria-label="Page navigation")
		ul.pagination
			li(class=prevActive)
				a.prev(href="#" aria-label="Previous") &laquo;
					span(aria-hidden="true")
			while i <= endpage
				- var isActive = i===page ? 'active' : '';
				li(class=isActive)
					a.page(href="#" data-page=i) i++
						if isActive
							span.sr-only (current)
			li(class=nextActive)
				a.next(href="#" aria-label="Next")
					span(aria-hidden="true") &raquo;
