extend layout

block scripts
	script(src="js/books.min.js")

block body
	h1 Books
	if books.length === 0
		h2.text-center.text-muted No results found.
	else
		include partials/_pager
		table#books.books.table.table-striped.table-hover
			thead
				tr
					th Cover
					th Title
					th Author
					th Year
					th Est. Value
			tbody
				each book in books
					tr
						td.cover
							img(src=book.smallCoverUrl
								data-cover-url=book.coverUrl
								aria-hidden=true
							)
						td.title= book.title
						td.author= book.author
						td.year(data-publisher=book.publisher)= book.year
						td.estValue= book.estValue
		include partials/_bottomPager
	include partials/_bookDetails
