extend layout

block scripts
	script(src="js/books.min.js")

block body
	form#pageForm.hidden(action="books" method="POST")
		input#page(name="page" type="hidden" value=page)

	h1 Books
	#alert.alert.alert-danger.hidden(role="alert")
		strong.header
		span.msg
	if books.length === 0
		h2.text-center.text-muted No results found.
	else
		include partials/_pager
		table#books.books.table.table-striped.table-hover
			thead
				tr
					th Cover
					th Title
					th Author
					th Year
					th Est. Value
			tbody
				each book in books
					-
						var thumbnailUrl = 'covers/thumbnail/' + book._id;
						var coverUrl = 'covers/' + book._id;
						var yearText = (book.year && book.era)
							? book.year + ' ' + book.era
							: '';

					tr(data-id=book._id data-notes=book.notes)
						td.cover
							img(src=thumbnailUrl
								data-cover-url=coverUrl
								aria-hidden=true)
						td.title= book.title
						td.author= book.author
						td.year(data-publisher=book.publisher)= yearText
						td.estValue= book.estValue
		include partials/_bottomPager
		include partials/_bookDetails
