extend layout

block scripts
	script(src="js/books.min.js")

block body
	input#page(type="hidden" value=page)
	input#pageSize(type="hidden" value=pageSize)

	h1 Books
	if books.length === 0
		h2.text-center.text-muted No results found.
	else
		include partials/_pager
		table#books.books.table.table-striped.table-hover
			thead
				tr
					th Cover
					th Title
					th Author
					th Year
					th Est. Value
			tbody
				each book in books
					- var smallCoverUrl = 'covers/small/' + book._id;
					- var coverUrl = 'covers/' + book._id;
					tr(data-id=book._id)
						td.cover
							img(src=smallCoverUrl
								data-cover-url=coverUrl
								aria-hidden=true
							)
						td.title= book.title
						td.author= book.author
						td.year(data-publisher=book.publisher)= book.year + ' ' + book.era
						td.estValue= book.estValue
		include partials/_bottomPager
	include partials/_bookDetails
